<div class="row">
  <div class="col s10 offset-s1">
    <div class="card-panel green lighten-5">
      <div class="card-content">

        <h3>プロフィールの編集</h3>

        <div class="row">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { :class => "col s12", method: :put }) do |f| %>
            <%= devise_error_messages! %>

              <div class="row">
                <div class="input-field col s12">
                  <%= f.email_field :email, class: 'validate', autofocus: true %>
                  <%= f.label :email, "メールアドレス" %>
                </div>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="row">
                <!--<i>パスワードを変更しない場合は空白</i>-->
                <div class="input-field col s12">
                  <%= f.password_field :password, class: 'validate' %>
                  <%= f.label :password, "新しいパスワード" %>
                  <% if @minimum_password_length %>
                    <em><%= @minimum_password_length %> 文字以上</em>
                  <% end %>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <%= f.password_field :password_confirmation, class: 'validate', autocomplete: "off" %>
                  <%= f.label :passowrd_confirmation, "新しいパスワード確認" %>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <%= f.password_field :current_password, class: 'validate', autocomplete: "off" %>
                  <%= f.label :current_password, "現在のパスワード" %>
                </div>
              </div>

              <div class="row">
                <div class="col s12">
                  <%= f.button '更新', class: 'btn waves-effect waves-light'%>
                </div>
              </div>
            <% end %>
          </div>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s10 offset-s1">
    <div class="card-panel deep-orange lighten-5">
      <div class="card-content">

        <h3>アカウント削除</h3>
        <%= button_to "削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, class: 'btn waves-effect waves-light', method: :delete %>

      </div>
    </div>
  </div>
</div>
