<% provide :title, "やまログを探す" %>

<div class="row">
  <div class="col s12">
    <div class="section">
      <h2>みんなのヤマログ一覧</h2>
      <p>みんなのヤマログを確認しよう。</p>
    </div>
  </div>
</div>

<div class="row">
  <%= form_tag yamalogs_path, :method => 'get', html: {:class => "col s12 center-align"} do %>
    <div class="row">
      <div class="col s12 m7 offset-m1">
        <%= text_field_tag :search, params[:search], placeholder: 'やまログを検索' %>
      </div>
      <div class="col s12 m3">
        <%= button_tag :yama_name => nil, class: 'btn waves-effect waves-light' do %>
          <i class="material-icons left">search</i>検索する
        <% end %>
      </div>
    </div>
  <% end %>
</div>

  <div class="row">
    <% @yamalogs.each do |yamalog| %>
        <div class="col s12 m6 l4">
          <div class="card">
            <%= link_to(yamalog) do %>
              <div class="card-image">
                <%= image_tag yamalog.yamalog_pic1.thumb.url %>
              </div>
              <div class="card-content">
                <span class="card-title"><%= yamalog.yama_name %></span>
                <p><%= yamalog.yama_date %></p>
              </div>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
