<% provide :title, "やまログ投稿" %>

<div class="row">
  <div class="col s12">
    <div class="section">
      <h2>やまログを作成</h2>
      <p>登った山の情報を登録して、みんなに共有しよう。</p>
    </div>
  </div>
</div>

<div class="row">
  <%= form_for @yamalog, html: {:class => "col s12 m8 offset-m2", multipart: true, wrapper: :horizontal_form} do |f| %>

    <div class="row">
      <div class="col s12">
        <%= f.label :yama_date, '登山日時'%>
        <%= f.date_field :yama_date, class: 'datepicker' %>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <%= f.label :yama_name, '山名' %>
        <%= f.text_field :yama_name, class: 'validate' %>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <%= f.label :weather, '天気' %>
        <%= f.text_field :weather, class: 'validate' %>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <%= f.label :member, 'メンバー' %>
        <%= f.text_field :member, class: 'validate' %>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <%= f.label :route, 'ルート' %>
        <%= f.text_area :route, class: 'materialize-textarea' %>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <%= f.label :yamalog_pic1, '写真' %>
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file">
          </div>
          <div class="file-path-wrapper">
            <%= f.text_field :yamalog_pic1, class: 'file-path validate' %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <%= f.label :gpslog, 'GPSログ'%>
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file">
          </div>
          <div class="file-path-wrapper">
            <%= f.text_field :gpslog, class: 'file-path validate' %>
          </div>
          <span>gpx, kmlのみ</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <%= f.button '投稿', class: 'btn waves-effect waves-light green' %>
      </div>
    </div>
  <% end %>

  </div>
</div>
