<!DOCTYPE html>
<html>

  <%= render 'head' %>

  <body>
    <%= render 'header' %>

    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <%= render 'footer' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'application' %>

  </body>
</html>
