<!DOCTYPE html>
<html>

  <%= render 'head' %>

  <body>
    <%= render 'header' %>

    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <%= render 'footer' %>

    <script src="https://maps.google.com/maps/api/js?libraries=geometry&v=3.22&key=AIzaSyDi2mr4iGvVtxxK6cRQctuLnaeSDNRbhnI"></script>
    <%= javascript_include_tag 'application' %>

  </body>
</html>
